.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.875rem 1.25rem;
  li {
    flex: 0 0 1.875rem;
  }

  a {
    display: inline-grid;
    place-content: center;
    width: 1.875rem;
    height: 1.875rem;
    color: var(--color-dark);
    border-radius: var(--radius-circle);
    background-color: var(--color-light);
    transition: translate 0.2s ease-in-out, background-color 0.2s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        translate: 0 -0.25rem;
        background-color: var(--color-primary);
      }
    }
  }
}
