.container {
  width: min(
    var(--container-max-width),
    100% - (var(--container-padding-x) * 2)
  );
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

.header-area {
  display: flex;
  align-items: center;
  gap: 1.875rem 2.5rem;
  &:not(:last-child) {
    margin-block-end: clamp(2.5rem, 6vw, 5rem);
  }

  .description {
    max-width: 36.25rem;
  }
}
