@import url("fonts.css");
@import url("reset.css");

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-dark-emphasis: #191a23;
  --color-primary: #b9ff66;
  --color-gray: #f3f3f3;
  --color-gray-600: #898989;
  --color-gray-900: #292a32;

  --font-family-base: "Space Grotesk", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --text-size-sm: 0.875rem;
  --text-size-base: 1rem;
  --text-size-md: 1.125rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.625rem;
  --text-size-2xl: 1.875rem;
  --text-size-3xl: 2.25rem;
  --text-size-4xl: 2.5rem;
  --text-size-5xl: 2.75rem;
  --text-size-6xl: 3.75rem;

  --radius-base: 0.375rem;
  --radius-md: 0.875rem;
  --radius-lg: 2.75rem;
  --radius-circle: 100vmax;

  --shadow-base: 0 0.313rem 0 0 var(--color-dark-emphasis);

  --section-padding: clamp(1.875rem, 5vw, 4.375rem);

  --container-max-width: 77.5rem;
  --container-padding-x: 1rem;

  --navbar-min-height: 4.375rem;
  --navbar-max-height: 11.75rem;
  --navbar-height: clamp(
    var(--navbar-min-height),
    12vw,
    var(--navbar-max-height)
  );
}

/* General */

body {
  min-width: 20rem;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: clamp(var(--text-size-base), 2vw, var(--text-size-md));
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
  &.lock {
    overflow: hidden;
  }
}

main {
  margin-block-start: var(--navbar-height);
}

/* Utilities */

.container {
  width: min(
    var(--container-max-width),
    100% - (var(--container-padding-x) * 2)
  );
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

.section-padding-block {
  padding-block: var(--section-padding);
}

.header-area {
  display: flex;
  align-items: center;
  gap: 1.875rem 2.5rem;
  &:not(:last-child) {
    margin-block-end: clamp(2.5rem, 6vw, 5rem);
  }

  .description {
    max-width: 36.25rem;
  }
}

/* Headings */

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4 {
  font-weight: var(--font-weight-medium);
  line-height: 1.28;
}

h1,
.heading-1 {
  font-size: clamp(var(--text-size-5xl), 5vw, var(--text-size-6xl));
}

h2,
.heading-2 {
  font-size: clamp(var(--text-size-3xl), 5vw, var(--text-size-4xl));
}

h3,
.heading-3 {
  font-size: clamp(var(--text-size-xl), 2.5vw, var(--text-size-2xl));
}

h4,
.heading-4 {
  font-size: clamp(var(--text-size-md), 2vw, var(--text-size-lg));
}

/* Buttons */

.button {
  white-space: nowrap;
  padding: 1.25rem 2.188rem;
  border: 1px solid transparent;
  font-size: clamp(var(--text-size-md), 2vw, var(--text-size-lg));
  line-height: 1.4;
  border-radius: var(--radius-md);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.button-primary {
  --button-hover-background: #a6de61;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  @media (any-hover: hover) {
    &:hover {
      border-color: var(--button-hover-background);
      background-color: var(--button-hover-background);
    }
  }
}

.button-dark {
  color: var(--color-light);
  border-color: var(--color-dark-emphasis);
  background-color: var(--color-dark-emphasis);
  @media (any-hover: hover) {
    &:hover {
      border-color: var(--color-gray-900);
      background-color: var(--color-gray-900);
    }
  }
}

.button-border-dark {
  border-color: var(--color-dark-emphasis);
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-light);
      background-color: var(--color-dark-emphasis);
    }
  }
}

/* External links */

.external-link {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--text-size-lg);
  line-height: 1.4;
  svg {
    flex-shrink: 0;
  }
}

.external-link-primary {
  color: var(--color-primary);
}

.external-link-light {
  color: var(--color-light);
}

/* Forms */

label {
  display: inline-block;
}

textarea {
  min-height: var(--form-control-height);
  resize: vertical;
}

.form-group {
  label {
    margin-block-end: 0.313rem;
    font-size: clamp(var(--text-size-sm), 2.5vw, var(--text-size-base));
    line-height: 1.75;
  }
}

.form-control {
  --form-control-height: 3.75rem;
  width: 100%;
  height: var(--form-control-height);
  padding: 1.125rem clamp(1.25rem, 4vw, 1.875rem);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-dark);
  background-clip: padding-box;
  background-color: var(--color-light);
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: var(--color-primary);
    outline: 0;
  }

  &::placeholder {
    color: var(--color-gray-600);
  }
}

.radio {
  display: inline-flex;
  align-items: center;
  column-gap: 0.875rem;
  input {
    display: inline-grid;
    place-content: center;
    flex-shrink: 0;
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid var(--color-dark);
    appearance: none;
    border-radius: var(--radius-circle);
    background-color: var(--color-light);
    cursor: pointer;
    &:checked::after {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: inherit;
      background-color: var(--color-primary);
    }
  }
}

/* Boxes */

.box {
  padding-inline: 0.375rem;
  border-radius: var(--radius-base);
}

.box-primary {
  background-color: var(--color-primary);
}

.box-light {
  background-color: var(--color-light);
}

/* Marquee */

.marquee {
  &[data-animated="true"] {
    overflow: hidden;
    pointer-events: none;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      var(--color-dark) 20% 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      var(--color-dark) 20% 80%,
      transparent
    );
    > .marquee-inner {
      flex-wrap: nowrap;
      column-gap: var(--marquee-gap);
      width: max-content;
      will-change: transform; /* add optimizations for transform */
      animation: marquee 30s linear infinite;
      animation-direction: normal;
      > * {
        user-select: none;
      }
    }
  }
}

.marquee-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes marquee {
  to {
    translate: calc(-50% - var(--marquee-gap) * 0.5) 0;
  }
}

/* Navbar */

.navbar {
  --navbar-column-gap: clamp(1.563rem, 2.5vw, 2.5rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-light);
  transition: box-shadow 0.2s ease-in-out;
  &.shrink {
    --navbar-height: clamp(var(--navbar-min-height), 12vw, 6.25rem);
    box-shadow: 0 0 0.5rem 0 var(--color-dark);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--navbar-column-gap);
    min-height: var(--navbar-height);
    padding-block: 0.375rem;
    transition: min-height 0.2s ease-in-out;
  }

  .brand {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    max-width: clamp(9rem, 15vw, 13.75rem);
  }

  .menu {
    nav {
      > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        column-gap: var(--navbar-column-gap);
        font-size: var(--text-size-lg);
        line-height: 1.4;
        a {
          position: relative;
          padding-block: 0.875rem;
          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 0.125rem;
            background-color: currentColor;
            transition: width 0.2s ease-in-out;
          }

          @media (any-hover: hover) {
            &:hover {
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.toggle-menu-button {
  --square-root-of-two: 1.41421356237;
  --button-height: 3rem;
  --button-padding-block: 0.875rem;
  --bar-height: 0.125rem;
  /* The width of the bars when the button is in the "X" shape */
  --x-bar-width: calc(
    (var(--button-height) - var(--button-padding-block) * 2) *
      var(--square-root-of-two)
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  width: 3rem;
  height: var(--button-height);
  padding-block: var(--button-padding-block);
  color: var(--color-dark);
  border-radius: var(--radius-base);
  transition: background-color 0.2s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-primary);
    }
  }

  &::before,
  &::after,
  span {
    width: 50%;
    height: var(--bar-height);
    border-radius: 0.125rem;
    background-color: currentColor;
    transition: width 0.2s ease-in-out, translate 0.2s ease-in-out,
      rotate 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    transform-origin: left center;
  }
}

.menu-open {
  .navbar {
    &::before {
      translate: 0;
    }

    .menu {
      translate: 0;
    }
  }

  .toggle-menu-button {
    &::before {
      width: var(--x-bar-width);
      translate: 0.2em calc(var(--bar-height) / -2);
      rotate: 45deg;
    }

    &::after {
      width: var(--x-bar-width);
      translate: 0.2em calc(var(--bar-height) / 2);
      rotate: -45deg;
    }

    span {
      width: 0;
      opacity: 0;
    }
  }
}

/* Hero */

.hero {
  padding-block: 0.625rem var(--section-padding);
  .main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 1.875rem;
    margin-block-end: clamp(3.75rem, 8vw, 4.375rem);
    .body {
      display: grid;
      justify-items: start;
      row-gap: clamp(1.25rem, 2.5vw, 2.188rem);
      max-width: 33.125rem;
      .description {
        max-width: 28.125rem;
        font-size: clamp(var(--text-size-base), 2vw, var(--text-size-lg));
        line-height: 1.4;
      }
    }
  }
}

/* Companies */

.companies {
  --marquee-gap: 6rem;
  &:not([data-animated="true"]) {
    .marquee-inner {
      justify-content: center;
      row-gap: 1.25rem;
      column-gap: clamp(2.375rem, 6vw, var(--marquee-gap));
    }
  }

  img {
    filter: grayscale(1);
  }
}

/* Services */

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(28.75rem, 100%), 1fr));
  gap: clamp(1.875rem, 3vw, 2.5rem);
  &:not(:last-child) {
    margin-block-end: clamp(4.375rem, 10vw, 6.25rem);
  }

  li {
    &:nth-child(3n + 1) {
      article {
        background-color: var(--color-gray);
      }
    }

    &:nth-child(3n + 2) {
      article {
        background-color: var(--color-primary);
      }
    }

    &:nth-child(3n) {
      article {
        background-color: var(--color-dark-emphasis);
        .body {
          a .arrow-box {
            color: var(--color-dark);
            background-color: var(--color-light);
          }
        }
      }
    }
  }

  article {
    display: flex;
    justify-content: space-between;
    column-gap: clamp(1rem, 3vw, 1.875rem);
    position: relative;
    min-height: 19.375rem;
    padding: clamp(1.875rem, 3.5vw, 3.125rem);
    border: 1px solid var(--color-dark-emphasis);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-base);
    transition: opacity 0.2s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.75;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      row-gap: 1rem;
      width: 100%;
      max-width: 13.75rem;
      h3 {
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      a {
        .arrow-box {
          display: inline-grid;
          place-content: center;
          flex-shrink: 0;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: var(--radius-circle);
          color: var(--color-primary);
          background-color: var(--color-dark-emphasis);
        }
      }
    }

    .image {
      align-self: center;
    }
  }
}

/* CTA */

.cta {
  --image-offset-y: 1.5rem;
  padding-block: var(--image-offset-y);
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-lg);
    background-color: var(--color-gray);
  }

  .body {
    display: grid;
    row-gap: clamp(1.25rem, 3vw, 1.625rem);
    justify-items: start;
    padding: clamp(1.25rem, 6vw, 3.75rem);
  }

  .image {
    margin-block: calc(var(--image-offset-y) * -1);
    padding-inline-end: clamp(3.75rem, 8.5vw, 8.438rem);
  }
}

/* Studies */

.studies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-light);
  li {
    display: grid;
    align-items: start;
    justify-items: start;
    row-gap: 1.25rem;
    a {
      transition: opacity 0.2s ease-in-out;
      @media (any-hover: hover) {
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

/* Working progress */

.process-list {
  display: grid;
  row-gap: clamp(1.25rem, 2.5vw, 1.875rem);
  counter-reset: process-counter;
  li {
    counter-increment: process-counter;
  }

  details {
    --padding-y: clamp(1.25rem, 5vw, 2.5rem);
    --gap-y: clamp(1.25rem, 4vw, 1.875rem);
    padding-inline: clamp(1.25rem, 5vw, 3.75rem);
    border: 1px solid var(--color-dark-emphasis);
    border-radius: var(--radius-lg);
    background-color: var(--color-gray);
    box-shadow: var(--shadow-base);
    transition: background-color 0.2s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-primary);
      }
    }

    &[open] {
      background-color: var(--color-primary);
      summary {
        padding-block-end: var(--gap-y);
        .indicator::after {
          rotate: 0deg;
        }
      }
    }

    summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;
      padding-block: var(--padding-y);
      cursor: pointer;
      user-select: none;
      h3 {
        display: inline-flex;
        align-items: center;
        column-gap: clamp(1rem, 3vw, 1.563rem);
        font-size: clamp(var(--text-size-md), 2.5vw, var(--text-size-2xl));
        &::before {
          content: counter(process-counter, decimal-leading-zero);
          font-size: 2em;
        }
      }

      .indicator {
        --side-length: clamp(1.875rem, 6vw, 3.625rem);
        flex-shrink: 0;
        position: relative;
        width: var(--side-length);
        height: var(--side-length);
        border: 1px solid var(--color-dark-emphasis);
        border-radius: var(--radius-circle);
        background-color: var(--color-gray);
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          width: 45%;
          height: 10%;
          background-color: var(--color-dark);
        }

        &::after {
          rotate: 90deg;
          transition: rotate 0.2s ease-in-out;
        }
      }
    }

    .panel {
      padding-block: var(--gap-y) var(--padding-y);
      border-block-start: 1px solid var(--color-dark);
    }
  }
}

/* Team */

.team {
  .see-all {
    text-align: right;
    button {
      width: 100%;
    }
  }
}

.team-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(21.875rem, 100%), 1fr));
  gap: clamp(1.875rem, 3.5vw, 2.5rem);
  &:not(:last-child) {
    margin-block-end: 2.5rem;
  }

  article {
    height: 100%;
    padding: clamp(1.25rem, 5vw, 2.5rem) clamp(1.25rem, 5vw, 2.188rem);
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-dark-emphasis);
    background-color: var(--color-light);
    box-shadow: var(--shadow-base);
    header {
      display: flex;
      align-items: start;
      .image {
        flex: 0 0 auto;
        width: 6.25rem;
        &:not(:last-child) {
          margin-inline-end: 1.25rem;
        }
      }

      .info {
        align-self: end;
        &:not(:last-child) {
          margin-inline-end: 0.5rem;
        }

        h3 {
          &:not(:last-child) {
            margin-block-end: 0.125rem;
          }
        }
      }

      a {
        display: inline-grid;
        place-content: center;
        flex-shrink: 0;
        width: 2.125rem;
        height: 2.125rem;
        margin-inline-start: auto;
        color: var(--color-primary);
        border-radius: var(--radius-circle);
        background-color: var(--color-dark);
      }
    }

    .body {
      --margin-top: clamp(1.25rem, 2.5vw, 1.75rem);
      margin-block-start: var(--margin-top);
      padding-block-start: var(--margin-top);
      border-block-start: 1px solid var(--color-dark);
    }
  }
}

/* Testimonials */

.testimonials {
  .body {
    padding-block: clamp(1.875rem, 6.5vw, 5.25rem) clamp(4.25rem, 6vw, 4.25rem);
    color: var(--color-light);
    border-radius: var(--radius-lg);
    background-color: var(--color-dark-emphasis);
  }

  .swiper {
    padding-inline: 1.875rem;
    blockquote {
      --polygon-side-length: clamp(2rem, 4vw, 2.375rem);
      --polygon-offset-left: clamp(2.875rem, 5vw, 3.25rem);
      display: grid;
      row-gap: 3rem;

      .quote {
        position: relative;
        padding: clamp(1.875rem, 5vw, 3rem) var(--polygon-offset-left)
          clamp(2rem, 5vw, 3.25rem);
        border: 1px solid var(--color-primary);
        border-radius: var(--radius-lg);
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: var(--polygon-offset-left);
          width: var(--polygon-side-length);
          height: var(--polygon-side-length);
          translate: 0 -50%;
          rotate: 45deg;
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          border: inherit;
          background-color: var(--color-dark-emphasis);
        }
      }

      footer {
        padding-inline-start: calc(
          var(--polygon-offset-left) + var(--polygon-side-length) / 2
        );
        h3 {
          color: var(--color-primary);
          &:not(:last-child) {
            margin-block-end: 0.188rem;
          }
        }
      }
    }
  }

  .swiper-wrapper {
    cursor: grabbing;
    &:not(:last-child) {
      margin-block-end: clamp(3.125rem, 8.5vw, 7.75rem);
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.25rem;
    max-width: 35.25rem;
    margin-inline: auto;
    .button-prev,
    .button-next {
      transition: color 0.2s ease-in-out;
      @media (any-hover: hover) {
        &:hover {
          color: var(--color-primary);
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.25rem;
      width: auto;
    }

    .swiper-pagination-bullet {
      all: unset;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      @media (any-hover: hover) {
        &:hover {
          color: var(--color-primary);
        }
      }
    }

    .swiper-pagination-bullet-active {
      pointer-events: none;
      color: var(--color-primary);
    }
  }
}

/* Contact us */

.contact-us {
  .container > .body {
    position: relative;
    padding: clamp(1.25rem, 6vw, 3.75rem) clamp(1.25rem, 6vw, 6.25rem)
      clamp(1.25rem, 6vw, 5rem);
    overflow-x: hidden;
    border-radius: var(--radius-lg);
    background-color: var(--color-gray);
    &::after {
      --image-offset-y: 3.875rem;
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      translate: -50% -50%;
      height: calc(100% - var(--image-offset-y) * 2);
      aspect-ratio: 1;
      background: url("../assets/images/contact-us-illustration.svg") center /
        contain no-repeat;
    }
  }

  form {
    display: grid;
    row-gap: clamp(2.25rem, 5vw, 2.5rem);
    > fieldset {
      display: flex;
      align-items: center;
      gap: 2.188rem;
    }

    .body {
      display: grid;
      row-gap: 1.563rem;
    }

    textarea {
      height: clamp(8.25rem, 18vw, 11.875rem);
    }
  }
}

/* Media queries */

@media (min-width: 62em) {
  .navbar {
    .menu {
      display: contents;
      nav {
        flex-grow: 1;
      }
    }
  }

  .toggle-menu-button {
    display: none;
  }

  .contact-us {
    form {
      max-width: 34.75rem;
    }
  }
}

@media (min-width: 48em) {
  .studies-list {
    padding: clamp(2.625rem, 5vw, 4.375rem) clamp(3.125rem, 5vw, 3.75rem);
    border-radius: var(--radius-lg);
    background-color: var(--color-dark-emphasis);
    li {
      --padding-x: clamp(2rem, 4vw, 4rem);
      &:not(:first-child) {
        padding-inline-start: var(--padding-x);
      }

      &:not(:last-child) {
        padding-inline-end: var(--padding-x);
        border-inline-end: 1px solid var(--color-light);
      }
    }
  }

  .cta {
    .body {
      max-width: 31.25rem;
    }
  }
}

@media (min-width: 30em) {
  .team {
    .see-all button {
      max-width: 16.875rem;
    }
  }
}

@media (max-width: 61.99875em) {
  .navbar {
    &::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: var(--navbar-height);
      translate: 100% 0;
      border-block-end: 1px solid var(--color-dark);
      background-color: var(--color-light);
      transition: translate 0.2s ease-in-out;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      position: fixed;
      inset: var(--navbar-height) 0 0;
      padding: 0.5rem 1rem 2rem;
      translate: 100% 0;
      overflow-y: auto;
      text-align: center;
      background-color: var(--color-light);
      transition: translate 0.2s ease-in-out;
      nav {
        > ul {
          flex-direction: column;
          align-items: center;
          row-gap: 0.5rem;
        }
      }
    }
  }

  .hero {
    .main .body {
      max-width: 25rem;
    }
  }

  .cta {
    --image-offset-y: 0;
  }

  .contact-us {
    .container > .body::after {
      display: none;
    }
  }
}

@media (max-width: 47.99875em) {
  .header-area {
    flex-direction: column;
    text-align: center;
  }

  .hero {
    .main {
      flex-direction: column;
      align-items: center;
      h1 {
        order: -2;
        margin-block-end: 0.625rem;
      }

      .body {
        display: contents;
        text-align: center;
        button {
          width: 100%;
          max-width: 24.375rem;
        }

        .description {
          margin-block-end: 2.5rem;
        }
      }

      .image {
        order: -1;
        margin-block-end: 1.25rem;
      }
    }
  }

  .cta {
    .body {
      justify-items: center;
      text-align: center;
    }

    .image {
      display: none;
    }
  }

  .studies {
    .container {
      width: auto;
      padding-inline-start: var(--container-padding-x);
    }
  }

  .studies-list {
    --spacer: 1.25rem;
    column-gap: var(--spacer);
    padding-inline-end: var(--container-padding-x);
    padding-block-end: 1rem;
    overflow-x: scroll;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer);
    li {
      min-width: 21.875rem;
      padding: 2.625rem 3.125rem;
      scroll-snap-align: start;
      border-radius: var(--radius-lg);
      background-color: var(--color-dark-emphasis);
    }
  }

  .contact-us {
    form {
      > fieldset {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 29.99875em) {
  body {
    line-height: 1.5;
  }

  .services-list {
    article {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1.625rem 1.875rem;
      .body {
        display: contents;
        h3 {
          grid-column: -1 / 1;
        }

        a {
          align-self: end;
          > span {
            position: absolute !important;
            width: 1px !important;
            height: 1px !important;
            padding: 0 !important;
            margin: -1px !important;
            overflow: hidden !important;
            clip: rect(0, 0, 0, 0) !important;
            white-space: nowrap !important;
            border: 0 !important;
          }
        }
      }
    }
  }

  .process-list {
    details {
      summary h3::before {
        font-size: 1.875rem;
      }
    }
  }

  .team-list {
    article {
      header {
        .image {
          width: 4.688rem;
        }
      }
    }
  }

  .testimonials {
    .swiper {
      blockquote {
        .quote {
          padding: 1.875rem;
        }
      }
    }
  }
}

@media (max-width: 24.37375em) {
  .testimonials {
    .body {
      padding-block: 1.25rem 2.5rem;
    }

    .swiper {
      padding-inline: 1.25rem;
    }

    .actions {
      justify-content: center;
      .button-prev,
      .button-next {
        display: none;
      }
    }
  }
}
